<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formularz</title>
</head>
<body>
<h1>Pomyślnie wypełniono formularz danymi:</h1>
<div>Producent: <span th:text="${guitar.manufacturer}"></span></div>
<div>Liczba strun: <span th:text="${guitar.stringCount}"></span></div>
</body>
</html>
